.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 99;
  background-color: #fefefe;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.navbar a {
  display: inline-block;
  text-align: center;
  color: #222;
  padding: 20px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
